.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    line-height: 1.2;
    letter-spacing: 1px;
}

.el-table {
    table {
        margin: 0;
    }
}
h2{
    margin-bottom: 20px !important;
}